/* .image-container {
	display: flex;
	justify-content: center;
}

.nav {
	background-color: #134074;
	padding: 0;
	margin: 0;
}

.title {
	text-align: center;
	font-size: 48px;
}

.form-container {
	max-width: 500px;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

.form {
	padding: 12px;
	display: flex;
	flex-direction: column;
}

.form label {
	padding: 16px 0 8px 0;
}

.form input {
	padding: 12px;
	border-radius: 5px;
	border: 1px solid #dadada;
}

.button-input {
	margin: 24px 0;
	background-color: #134074;
	color: white;
	cursor: pointer;
}

.button-input:hover {
	opacity: 0.9;
}

.card-image {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.image {
	width: 150px;
	height: 150px;
	object-fit: cover;
	border: 1px solid #b3b2b2;
	border-radius: 10px;
}

.card {
	max-width: 500px;
	display: flex;
	margin: 0 auto;
	margin-bottom: 12px;
	padding: 8px;
	border: 1px solid #8d8d8d;
	border-radius: 10px;
	transition: transform 0.2s;
}

.card:hover {
	transform: scale(1.03);
}

.card-body {
	padding: 4px 8px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.card-body button {
	width: 40%;
	padding: 8px 0;
	margin-top: 10px;
	border-radius: 20px;
	cursor: pointer;
	background-color: white;
	border: 2px solid #134074;
}

button:hover {
	filter: brightness(95%);
}

.card-title {
	font-weight: bold;
	font-size: 18px;
} */
